body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
  margin: 0;
  color: #333;
}

header {
  background: #1f2937;
  color: white;
  padding: 40px;
}

section {
  margin: 40px auto;
  width: 90%;
  max-width: 800px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}
